<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">>
	<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	</head>
	
	<body>
	
	<h2 th:text="${titulo}"></h2>
<form th:action="@{/guardar}" th:object="${alumno}" method="post">
	<label >LU:</label>
	<input type="text" th:field="*{lu}" ></br>
	<label>Nombre:</label>
	<input type="text" th:field="*{nombre}" ></br>
	<label>Apellido</label>
	<input type="text" th:field="*{apellido}" ></br>
	<label>Edad</label>
	<input type="text" th:field="*{edad}" ></br>
	
	<input type="submit" value="Guardar" class="btn btn-success">
	
</form>	
	</body>
</html>