<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	</head>
	
	<body>
	
	<h2>CRUD Alumnos</h2>
<div class="row">
	<div class="col-md-2">
	<a class="btn btn-success " th:href="@{/add}"
		th:text="Agregar" title="Nuevo Registro">
	</a>
</div>
</div >
	

	<table class="table table-success table-striped">
		<thead class="thead-dark">
			<tr>
				<th>LU</th>
				<th>APELLIDO</th>
				<th>NOMBRE</th>
				<th>EDAD</th>
				<th>ACCIONES</th>
			</tr>
		</thead >

		<tbody>
				<tr th:each="alumno:${alu}">
					<td th:text="${alumno.lu}"/>
					<td th:text="${alumno.nombre}"/>
					<td th:text="${alumno.apellido}"/>
					<td th:text="${alumno.edad}"/>
					<td>
					<a class="btn btn-success btn-sm" th:href="@{/edit/} + ${alumno.lu}"
						th:text="edit" title="modificar">
					</a>
					<a class="btn btn-danger btn-sm" th:href="@{/del/} + ${alumno.lu}"
						th:text="eliminar" title="eliminar">
					</a>
					</td>
				</tr >
		</tbody>	
	
	</table >

	</body>
</html>